.ul{
    background-color: #FFFFFF;
    width: 35rem;
    min-height: 28.25rem;
    padding: 0;
    margin: 0;
    margin-left: 9rem;
    & > h2{
        color: #212529;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        margin: 0;
    }
}

.li{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 5.438rem;
    width: 35rem;
    background-color: #F8F9FA;
    border-left: 4px solid #03B898;
    border-radius: 4px;
    list-style: none;
    margin: 0;
    margin-bottom: 1rem;
}

.div1{
    width: 21.063rem;
    height: 5.438rem;
    margin: 0.6rem 0 0 0;
    & > h2{
        font-size: 16px;
        font-weight: bold;
        line-height: 39px;
        color: #212529;
        margin: 0;
    }
        p{
            font-weight: 400;
            font-size: 12px;
            line-height: 22px;
            color: #343A40;
            margin: 0;
    }
}

.div2{
    width: 4.188rem;
    height: 2.938rem;
    margin: 1.5rem 0 0 0;
    & > p {
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        color: #343A40;
        margin: 0;
    } button {
        font-weight: 400;
        font-size: 10px;
        line-height: 0.853rem;
        color: #212529;
        width: 3rem;
        height: 1.188rem;
        background-color: #E9ECEF;
        border: 2px solid #E9ECEF;
        border-radius: 0.2rem;
        margin: 0;
    }
}