header{
    background-color: white;
    box-shadow: 0px 4px 32px -12px #00000040;
    height: 6rem;
    align-content: center;
    h1{
        margin: 0;
        color: #FD377E;
        font-size: 38px;
        font-weight: bolder;
        margin-left: 19.5rem;
    }
    span{
        color: black;
        font-size: 38px;
        font-weight: bolder;
    }
}